@import './fonts.css';
@import './styleguide.css';

.container {
  max-width: 1920px;
  margin: auto;
  padding: 0 16px;
}

.header {
  padding: 37px 0 28px;
}

.header-container {
  display: grid;
  justify-content: center;
  column-gap: 9px;
}

.page-title {
  color: var(--white);
  font-weight: 700;
  font-size: 64px;
  font-family: var(--main-font);
  line-height: 1.12;
}

.page-title-desc {
  color: var(--white);
  font-weight: 400;
  font-size: 24px;
  font-family: var(--main-font);
  line-height: 1.67;
}

.page-title-desc span {
  background-color: #00ffa3;
  color: var(--black);
}

.slide {
  height: 1080px;
  padding: 0 128px;
}

.slide-1 {
  display: grid;
  gap: 16px;
  align-content: center;
}

.slide-1-title {
  color: var(--white);
  font-weight: 700;
  font-size: 80px;
  font-family: var(--main-font);
  line-height: 1.05;
}

.slide-1-desc {
  color: var(--white-25);
  font-weight: 700;
  font-size: 64px;
  font-family: var(--main-font);
  line-height: 1.12;
}

.slide-2 {
  display: grid;
  grid-template-areas:
    'd d'
    'b .';
  grid-template-columns: 720px 1fr;
  row-gap: 128px;
  align-content: center;
}

.slide-2 .decsription {
  display: grid;
  grid-area: d;
  gap: 24px;
}

.slide-2 .background {
  display: grid;
  grid-area: b;
  gap: 24px;
}

.slide-2 .decsription .label,
.slide-2 .background .label {
  color: var(--white-50);
  font-weight: 700;
  font-size: 24px;
  font-family: var(--roboto-font);
  line-height: 1.17;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

.slide-2 .decsription .title {
  color: var(--white);
  font-weight: 700;
  font-size: 80px;
  font-family: var(--main-font);
  line-height: 1.05;
}

.slide-2 .background .title {
  color: var(--white);
  font-weight: 700;
  font-size: 36px;
  font-family: var(--main-font);
  line-height: 1.22;
}

.slide-3 {
  padding: 0;
}

.newspaper {
  display: grid;
  gap: 32px;
  padding: 72px 72px 56px;
  background-color: var(--white);
}

.newspaper-title-wrapper {
  display: grid;
  gap: 8px;
  padding-bottom: 32px;
  border-bottom: 1px solid var(--black-25);
}

.newspaper-name {
  color: var(--black);
  font-weight: 400;
  font-size: 72px;
  font-family: var(--nova-font);
  line-height: 1;
  text-align: center;
}

.newspaper-date {
  color: var(--black-50);
  font-weight: 400;
  font-size: 14px;
  font-family: var(--main-font);
  line-height: 1.29;
  text-align: center;
}

.main-title {
  padding-bottom: 32px;
  border-bottom: 1px solid var(--black-25);
  color: var(--black);
  font-weight: 700;
  font-size: 80px;
  font-family: var(--main-font);
  line-height: 1.05;
  text-align: center;
}

.main-content {
  display: grid;
  grid-template-columns: 576px 1fr 426px;
  padding-bottom: 32px;
  border-bottom: 1px solid var(--black-25);
  column-gap: 24px;
}

.main-content .first-post {
  display: grid;
  grid-template-rows: auto;
}

.first-post .post-title {
  margin-bottom: 4px;
  color: var(--black);
  font-weight: 700;
  font-size: 64px;
  font-family: var(--main-font);
  line-height: 1.12;
}

.first-post .post-author,
.third-post .post-author {
  margin-bottom: 24px;
  color: var(--black-50);
  font-weight: 400;
  font-size: 12px;
  font-family: var(--main-font);
  line-height: 1.33;
}

.first-post .post-text,
.third-post .post-text {
  color: var(--black);
  font-weight: 400;
  font-size: 18px;
  font-family: var(--main-font);
  line-height: 1.33;
}

.second-post {
  display: grid;
  grid-template-rows: 95% 1fr;
  gap: 12px;
}

.second-post .post-rectangle {
  background-color: var(--black-25);
}

.second-post .post-text {
  color: var(--black);
  font-weight: 400;
  font-size: 12px;
  font-family: var(--main-font);
  line-height: 1.33;
}

.third-post > .post-title {
  margin-bottom: 8px;
  color: var(--black);
  font-weight: 700;
  font-size: 48px;
  font-family: var(--main-font);
  line-height: 1.17;
}

.second-content {
  display: grid;
  grid-template-areas: 'lp lp rp rp rp rp';
  padding-bottom: 32px;
  border-bottom: 1px solid var(--black-25);
}

.left-part {
  display: grid;
  grid-area: lp;
  grid-template-columns: repeat(2, 288px);
  gap: 12px;
  margin-right: 12px;
}

.left-part-post {
  padding-right: 12px;
  border-right: 1px solid var(--black-25);
}

.left-part-post-title {
  margin-bottom: 8px;
  color: var(--black);
  font-weight: 700;
  font-size: 36px;
  font-family: var(--main-font);
  line-height: 1.22;
}

.left-part-post-author {
  margin-bottom: 24px;
  color: var(--black-50);
  font-weight: 400;
  font-size: 12px;
  font-family: var(--main-font);
  line-height: 1.33;
}

.left-part-post-text {
  color: var(--black);
  font-weight: 400;
  font-size: 14px;
  font-family: var(--main-font);
  line-height: 1.29;
}

.right-part-wrapper {
  display: grid;
  grid-area: rp;
  grid-template-areas:
    't t t t'
    'a . . .'
    'p p p p';
}

.right-part-post-title {
  grid-area: t;
  margin-bottom: 8px;
  color: var(--black);
  font-weight: 700;
  font-size: 48px;
  font-family: var(--main-font);
  line-height: 1.17;
}

.right-part-post-author {
  grid-area: a;
  margin-bottom: 24px;
  color: var(--black-50);
  font-weight: 400;
  font-size: 12px;
  font-family: var(--main-font);
  line-height: 1.33;
}

.right-part {
  display: grid;
  grid-area: p;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 24px;
}

.right-part-post-text {
  color: var(--black);
  font-weight: 400;
  font-size: 14px;
  font-family: var(--main-font);
  line-height: 1.29;
}

.third-content {
  display: grid;
  grid-template-areas: 'lp rp';
}

.left-part {
  display: grid;
  grid-area: lp;
  grid-template-columns: 3fr 2fr;
  gap: 12px;
}

.left-part .first-post {
  display: grid;
  grid-template-rows: 284px repeat(3, min-content);
  padding-right: 12px;
  border-right: 1px solid var(--black-25);
}

.post-rectangle {
  margin-bottom: 24px;
  background-color: var(--black-25);
}

.left-part .post-title {
  margin-bottom: 8px;
  color: var(--black);
  font-weight: 700;
  font-size: 36px;
  font-family: var(--main-font);
  line-height: 1.22;
}

.post-author {
  margin-bottom: 24px;
  color: var(--black-50);
  font-weight: 400;
  font-size: 12px;
  font-family: var(--main-font);
  line-height: 1.33;
}

.third-content .post-text {
  color: var(--black);
  font-weight: 400;
  font-size: 14px;
  font-family: var(--main-font);
  line-height: 1.29;
}

.left-part > .second-post {
  display: grid;
  grid-template-rows: repeat(3, min-content);
  gap: 0;
  padding-right: 12px;
  border-right: 1px solid var(--black-25);
}

.third-content .right-part {
  display: grid;
  grid-area: rp;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(2, min-content);
  gap: 32px;
}

.top-part {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 24px;
  padding-bottom: 32px;
  border-bottom: 1px solid var(--black-25);
}

.post {
}

.post .post-title {
  margin-bottom: 8px;
  color: var(--black);
  font-weight: 500;
  font-size: 24px;
  font-family: var(--main-font);
  line-height: 1.67;
}

.table-wrapper {
}

.table {
  border-collapse: collapse;
  table-layout: fixed;
}

th {
  background-color: var(--black);
  color: var(--white);
  font-weight: 400;
  font-size: 18px;
  font-family: var(--main-font);
  line-height: 1.33;
}

th,
td {
  min-width: 121px;
  padding: 12px;
  border: 1px solid var(--black);
}

td:first-child {
  background-color: var(--black-25);
  color: var(--black);
  font-weight: 400;
  font-size: 12px;
  font-family: var(--main-font);
  line-height: 1.33;
}

td:not(:first-child) {
  color: var(--black);
  font-weight: 400;
  font-size: 12px;
  font-family: var(--second-font);
  line-height: 1.33;
}

.bottom-part {
}

.bottom-part .post-title {
  margin-bottom: 8px;
  color: var(--black);
  font-weight: 700;
  font-size: 64px;
  font-family: var(--main-font);
  line-height: 1.125;
}
